<div id="sidebar">
  <div class="sidebar-about">
    <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.photo %}{{site.photo}}{% endif %}"></a>
    <h2 style="font-family: Helvetica">
      <a href="{{ site.author.url }}">
        {{ site.title }}
      </a>
    </h2>
    <p class="lead" style="font-family: menlo; font-size:14px">{{ site.description }}</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div style="color:white">
    <p align="left" style="font-family: Helvetica" style="color: white">
      Contact: hira@chalmers.se
      <br>
      <a href ="https://scholar.google.com/citations?hl=en&user=4PWt3HEAAAAJ">
	Google Scholar
      </a><br>
      <a href ="https://www.linkedin.com/in/hira-taqdees-syeda-55b221169/">
	LinkedIn
      </a><br>
      <span style="font-size:12px;">For detailed CV, please contact me personally.</span>
    </p>
  </div>


  {% comment %}
  {% include sidebar-nav-links.html %}
  {% endcomment %}

  {% comment %}
  {% if site.version %}
  <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}
  {% endcomment %}

  {% include sidebar-icon-links.html %}
  {% comment %}
  {% include copyright.html %}
  {% endcomment %}
</div>
